.tile {
    padding:0;
    margin:15px 0;
    position: relative;
}
.tile:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.tile .tile-caption {
    background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    color:#fff;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    padding:12px;
    height:50px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
.tile:hover .tile-caption {
    background:#b5121b none repeat scroll 0 0;
}

.tile-middle{
    float:none!important;
    margin: 0 auto;
}
